.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    background-color: #3cd367;
    color: #f9fdf9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border:4px solid #07e22c;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 15px;
}