*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #fff;
}
.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 8px;
}
.logo-contenedor h1{
  color: #1dd852;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.05em #d0e2c5;
}
.logo-imagen{
  height: 70px;
}
.contenedor-principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}